<div class="container">
    <div class="row">
        <form action="/add" method="post">
            <label class="required">Input Something</label>
            <br>
            <input required name="input" placeholder="Write something here..">
            <br>
            <br>
            <button class="btn-lg btn-success">Add</button>
        </form>

    </div>

    <div class="row" style="padding-top: 2%">
        <table id="data" class="table table-striped table-bordered" style="width:40%">
            <thead>
            <tr>
                <th>Input data</th>
            </tr>
            </thead>
            <tbody>
            {{#each dataTable}}
                <tr>
                    <td>
                        {{this.data}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>



</div>


<script>

    $(document).ready(function() {
        $('#data').DataTable({
            "order": []
        });
    } );
</script>