body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

.exPadding{
  padding-top:2%;

}


input,
button {
  font: inherit;
}

button {
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;
}

button:hover {
  background: #bdc3c7;
}



.required:after{
  content:"*";
  color:red;
}
